.navbar,
.bg-dark {
    background-color: #315453;
    color: white;
}
a {
    color: #000;
}
a:hover {
    color: #1fc39a;
}

.navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
}
#hero {
    background-image: url("images/hero.jpg");
    background-image: linear-gradient(to right, #315453, #ffffff00),
        url("images/hero.jpg");

    max-height: max-content;
    width: 100%;
    background-size: cover;
}
#hero1 {
    color: #ffffff;
}
.btn {
    background-color: #1fc39a;
    color: white;
}
.btn:hover {
    background-color: #315453;
    color: #ffffff;
}

.icon {
    background-color: #1fc39a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.feature {
    background-color: #315453;
}

a {
    text-decoration: none;
}
#footer {
    background-color: #315453;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}
/* button */
.h4 {
    color: #1fc39a;
}

.cardtest {
    padding: 40px;
    color: #000;
    background-color: #ffffff;
}
.cardtest body h2 {
    font-size: medium;
}

.Achievementheading {
    color: #1fc39a;
}

#services {
    padding-left: 40px;
    padding-right: 40px;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
/* team */

/*--------------------------------------------------------------
# What We Do
--------------------------------------------------------------*/
.what-we-do .icon-box {
    text-align: center;
    padding: 30px 20px;
    transition: all ease-in-out 0.3s;
    background: #fdfdfd;
    margin: 0 auto;
}
.what-we-do .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #eaf4fb;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
}
.what-we-do .icon-box .icon i {
    color: #3498db;
    font-size: 28px;
    display: flex;
    align-items: center;
}
.what-we-do .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}
.what-we-do .icon-box h4 a {
    color: #384046;
    transition: ease-in-out 0.3s;
}
.what-we-do .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.what-we-do .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}
.what-we-do .icon-box:hover h4 a,
.what-we-do .icon-box:hover .icon i {
    color: #3498db;
}
#what-we-do {
    padding: 50px;
}

/*--------------------------------------------------------------
# Guarantees
--------------------------------------------------------------*/
.guarantees .icon-box {
    padding: 30px;
    border-radius: 6px;
    background: #315453;
    transition: ease-in-out 0.3s;
    height: 200px;
    margin: 0 auto;
}
.guarantees .icon-box i {
    float: left;
    color: #ffffff;
    font-size: 40px;
    line-height: 0;
}
.guarantees .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
.guarantees .icon-box h4 a {
    color: #ffffff;
    transition: 0.3s;
}
.guarantees .icon-box p {
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
}
.guarantees .icon-box:hover {
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
}
.guarantees .icon-box:hover h4 a {
    color: #1fc39a;
}
.guarantees p {
    color: #ffffff;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
    padding: 0 100px;
}
.faq .faq-list ul {
    padding: 0;
    list-style: none;
}
.faq .faq-list li + li {
    margin-top: 15px;
}
.faq .faq-list li {
    padding: 20px;
    background: rgb(238, 238, 238);
    border-radius: 4px;
    position: relative;
}
.faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}
.faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #1fc39a;
}
.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}
.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}
.faq .faq-list .icon-show {
    display: none;
}
.faq .faq-list a.collapsed {
    color: #343a40;
}
.faq .faq-list a.collapsed:hover {
    color: #1fc39a;
}
.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}
.faq .faq-list a.collapsed .icon-close {
    display: none;
}
@media (max-width: 1200px) {
    .faq .faq-list {
        padding: 0;
    }
}
.carousel .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators {
    bottom: -40px !important;
}
.card-img-custom {
    height: 18rem !important;
}
.rating-number {
    top: 7%;
}
.rating-star {
    left: 11%;
}
.font-semi-bold {
    font-weight: 600;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.text-right {
    text-align: right;
}
textarea {
    resize: none;
}
